body {
    background-color: black;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 1024px;
    margin: 0 auto;
    font-family: "Ubuntu Mono";
}

h1 {
    text-align: center;
    font-family: "Glass TTY VT220";
    font-size: 24pt;
    letter-spacing: 10px;
    color: lime;
    margin: 0;
}

hr {
    border-color: #0F0F0F;
}

p {
    color: gray;
    text-align: center;
}
